/* Define o estilo básico para todos os elementos,
   eliminando margens, preenchimentos e garantindo que 
   a caixa de modelo seja a caixa de borda. */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* Estilo para o corpo da página */
body {
    height: 100vh; /* Altura total da janela de visualização */
    /* Fundo com um gradiente de duas cores */
    background: linear-gradient(120deg, #fff, #fff);
    display: flex; /* Flex container para alinhar itens centralmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
}

/* Estilo para a classe "relogio" */
.relogio {
    display: flex; /* Flex container para os elementos internos */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-around; /* Distribui o espaço entre os itens */
    height: 200px; /* Altura do relógio */
    width: 550px; /* Largura do relógio */
    background: transparent; /* Fundo transparente */
    border-radius: 3px; /* Bordas arredondadas */
    box-shadow: 1px 5px 5px #ccc; /* Sombra */
}

/* Estilo para os elementos filhos da classe "relogio" */
.relogio div {
    height: 170px; /* Altura dos elementos */
    width: 150px; /* Largura dos elementos */
    display: flex; /* Flex container para o texto */
    flex-direction: column; /* Alinha o texto verticalmente */
    align-items: center; /* Alinha o texto horizontalmente */
    justify-content: center; /* Alinha o texto verticalmente */
    color: #fffb00; /* Cor do texto */
    background: rgba(5, 5, 5, .9); /* Fundo com opacidade */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7); /* Sombra */
    border-radius: 7px; /* Bordas arredondadas */
    letter-spacing: 3px; /* Espaçamento entre letras */
}

/* Estilo para os elementos "span" dentro da classe "relogio" */
.relogio span {
    font-weight: bolder; /* Fonte mais pesada */
    font-size: 60px; /* Tamanho do texto */
}

/* Estilo para os elementos "span" com a classe "tempo" dentro da classe "relogio" */
.relogio span.tempo {
    font-size: 10px; /* Tamanho do texto reduzido */
}